.module-admin-create-user {
  .card-wrap {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0;
    margin: 0 auto 1rem auto;
  }

  .card-wrap .card-body {
    font-size: 0.75rem;
    padding: 1rem;
  }

  .form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-append > .btn, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-prepend > .input-group-text {
    font-size: .75rem;
  }

  .btn-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .avatar-wrap .avatar-img {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .toggledContainer {
    padding-left: 7rem !important;
    margin-right: 0;
  }
}
