.module-admin-user {
  .card-wrap {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0;
    margin: 0 auto 1rem auto;
  }

  .card-wrap .card-header {
    font-size: 0.75rem;
    padding: 1rem;
    font-weight: bold;
  }

  .card-wrap .card-body {
    font-size: 0.75rem;
    padding: 1rem;
  }

  .card-wrap .nav-tabs {
    padding: 0;
    font-size: 0.75rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #666;
    border-radius: 0.25rem;
  }

  .card-wrap .nav-link {
    border-width: 0 0 2px 0;
    color: #999;
  }

  .card-wrap .nav-item {
    margin-bottom: 0px;
  }

  .card-wrap .nav-item.show .nav-link,
  .card-wrap .nav-link.active {
    color: #666;
    border-color: #666;
  }
  .avatar-wrap .avatar-img {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .toggledContainer {
    padding-left: 7rem !important;
    margin-right: 0;
  }
}
