.module-admin-users {
  .card-wrap {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0;
    margin: 0 auto 1rem auto;
  }

  .card-wrap .card-header h1 {
    font-size: 1rem;
  }

  .card-form {
    width: 450px;
    max-width: 100%;
    margin-top: 70px;
  }

  .card-wrap .card-header {
    font-size: 0.75rem;
    padding: 1rem;
    font-weight: bold;
  }

  .card-wrap .card-body {
    font-size: 0.75rem;
    padding: 1rem;
  }

  .card-wrap .nav-tabs {
    padding: 0;
    font-size: 0.75rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #666;
    border-radius: 0.25rem;
  }

  .card-wrap .nav-link {
    border-width: 0 0 2px 0;
    color: #999;
  }

  .card-wrap .nav-item {
    margin-bottom: 0px;
  }

  .card-wrap .nav-item.show .nav-link,
  .card-wrap .nav-link.active {
    color: #666;
    border-color: #666;
  }
  .table-wrap {
    overflow-x: auto;
  }

  .table-wrap .table th {
    white-space: nowrap;
  }

  .table-wrap .table td {
    white-space: nowrap;
  }

  .table-wrap .table thead th {
    border-top: none;
    background-color: #eee;
  }

  .table-wrap .table thead th a {
    color: #444;
    text-decoration: none;
    cursor: pointer;
  }

  .table-wrap .table thead th a.active {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }

  .table-wrap .table td, .table th {
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
  }

  .table-wrap th .fa-arrow-up {
    font-size: 0.6rem;
  }

  .table-wrap th a.active .fa-arrow-up {
    transform: rotate(180deg);
  }

  .toggledContainer {
    padding-left: 7rem !important;
    margin-right: 0;
  }
}

.online a {
  position: relative;
  display: inline-block;
}

.online a:after {
  content: '';
  height: 10px;
  width: 10px;
  background: #43e756;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.footer-wrap {
  text-align: center;
  font-size: 0.75rem;
}

.required {
  color: red;
}

.fas.checked {
  color: orange;
}

.dropdown-menu-wrap {
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  border-radius: 0;
  margin-top: 18px;
  padding: 5px;
  font-size: 12px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.btn-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.slider.round {
  border-radius: 0.6rem;
}

.slider.round:before {
  border-radius: 0.6rem;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2rem);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}




