.wrap-done {
        display: inline-block;
        img {
                width: 40px;
        }
        svg {
                width: 40px;
                height: 40px;
                #done {
                        stroke-dasharray: 80;
                        stroke-dashoffset: 0;
                        stroke-linejoin: bevel;
                        animation: dash 1s linear;
                }
        }
}

@keyframes dash {
        from {
                stroke-dashoffset: 80;
        }
        to {
                stroke-dashoffset: 0;
        }
}
