#friends {
    .profile-wrap {

        img {
            border-radius: 50%;
            width: 120px;
        }
    }
    .profile-type {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 10px;
        color: #aeadad;
        text-transform: uppercase;
    }
}
