#profile-edit {
        .img-profile-wrap {
            width: 120px;
            height: 120px;
            overflow: hidden;
            float: right;
            text-align: center;
                .img-profile {
                        height: 120px;
                }
        }
        .custom-file {
                label {
                        overflow: hidden;
                }
        }
}
