#socnet {
    .left-column {
        float: left;
        width: 140px;
        padding: 20px 0;
        div {
            height: 30px;
        }
        .active {
            font-weight: 700;
        }
    }

    .center-column {
        float: left;
        min-height: 500px;
        width: calc(100% - 380px);
        padding: 0 15px;
    }

    .right-column {
        float: left;
        width: 240px;
    }



}
