#logo_wrap {
    padding-left: 10px;
}

#logo_wrap img {
    height: 30px;
}

#app .row nav {
    width: 100%;
}

header {
    &.bd-navbar {
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
    }
    #lpc-count {
        a {
            color: white;
            margin: auto 10px;
        }
    }
}

$blue:#4267b2;
