#left-menu {
  position: fixed;
  z-index: 999;
  top: 70px;
  bottom: 0;
  left: -250px;
  width: 250px;
  transition: all 0.3s;
  margin-right: 5px;
}

#left-menu .left-menu-overflow {
  background-color: #fafafa;
  height: calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  overflow: auto;
}

#left-menu.active {
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .28);
}

#left-menu.active+#content {
  margin-left: 265px;
}

#left-menu #accordion a {
  display: block;
  line-height: 30px;
  font-size: 14px;
  width: 100%;
  padding: 0 15px;
  cursor: pointer;
  // font-weight: bolder;
  color: #444;
}

#left-menu #accordion a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #444;
}

#close-left-menu {
  display: none;
}

#left-menu #accordion {
  margin: 20px 0 20px 0;
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

#left-menu #accordion i {
  margin-right: 10px;
}

#left-menu #accordion .link-header {
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 4px 0;
}

#left-menu #accordion .link-header a:after {
  content: "▲";
  font-family: FontAwesome;
  float: right;
  font-size: 11px;
  color: #555;
}

#left-menu #accordion .link-header a.collapsed:after {
  content: "▼";
  font-family: FontAwesome;
  float: right;
}

#left-menu #accordion .link-body {
  margin-bottom: 5px;
}

#left-menu .languages {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 10px;
  font-weight: bold;
  background: #eee;
}

#left-menu.active+.content {
  margin-left: 250px;
}

#left-menu.active+.content+footer {
  margin-left: 250px;
}

#left-menu.active {
  font-weight: 400;
}
