$blue: #4267b2;
@import 'node_modules/bootstrap/scss/bootstrap';

h1 {
  // font-size: 17px;
  // font-weight: bold;
  background-color: #fff;
  height: 60px;
  line-height: 60px;
  margin: 0 -15px 15px;
  color: #555;
  padding: 0 15px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.mainContainer {
  margin-top: 70px;
}
