#landing {
        .main-section {
                background-image: url(/img/main.jpg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                color: white;
                text-shadow: 0px 0px 4px #fff;
        }
        .page-title {
                font-size: 80px;
                line-height: 80px;
                font-weight: bold;
                margin: 0;
                background-color: transparent;
                height: 95px;
                color: white;
                text-align: center;
        }
        .text-title {
                font-size: 40px;
                font-weight: 400;
                line-height: 35px;
                margin: 0;
                text-align: center;
        }
        .btn.btn-main {
                background-image: linear-gradient(45deg, #4267B2 0%, #51eccc 100%);
                border: none;
                color: #fff;
                font-size: 20px;
                margin: 20px 6px 0 6px;
                padding: 8px 12px;
                display: inline-block;
                text-transform: uppercase;
                transition: all 400ms;
                border-radius: 4px;
        }
        .line {
                border: 2px solid #EA6362;
                margin: 30px auto 30px auto;
                width: 30px;
        }
        div.row h2 {
            margin-top: 30px;
        }
        div.row h3 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 30px;
                margin-top: 30px;
        }
        div.row h4 {
                font-size: 23px;
                line-height: 23px;
                margin-bottom: 15px;
        }
        .addons-column {
                text-align: center;
                font-size: 15px;
                border-width: 3px;
                border-color: #4267B2;
                border-style: dashed;
                font-weight: bold;
                padding: 10px 5px;
                width: 100%;
                margin-top: 35px;
                margin-bottom: 35px;
        }
        .main-text {
                font-size: 15px;
                font-weight: bold;
                line-height: 24px;
                margin-bottom: 35px;
        }

        .align-center {
            align-items: center;
        }

        div.row .last-news-title {
            font-size: 18px;
            font-weight: 700;
        }

        div .soc-item {
            border-radius: 30px;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            margin: 10px;
            a {
                color: white;
                line-height: 30px;
            }
        }

        div .soc-wrap {
            background-image: url('/img/footer.svg');
            width: 100%;
            height: 194px;
        }

        .fb {
            background-color: #306199;
        }

        .tw {
            background-color: #26c4f1;
        }

        .gp {
            background-color: #e93f2e;
        }

        .li {
            background-color: #007bb6;
        }

        .pi {
            background-color: #b81621;
        }

        .tu {
            background-color: #32506d;
        }

        .gp {
            background-color: #ed4054;
        }

        .rd {
            background-color: #ff4500;
        }

        .vk {
            background-color: #597ba5;
        }

        img {
            width: 100%;
            max-width: 100%;
        }

}
