$blue: #455a64;

h1 {
  font-size: 17px;
  font-weight: bold;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  margin: 0 -15px;
  color: #555;
  padding: 0 15px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.base-footer {
  background-color: transparent;
  color: #444;
}

.toggledFooter {
  padding-left: 8rem !important;
  margin-right: 10px;
}

$blue: #455a64;
