//.module-admin-left-menu {
//  &#left-menu {
//    position: fixed;
//    z-index: 999;
//    width: 3rem;
//    top: 3rem;
//    bottom: 0;
//    left: 0;
//    transition: all 0.3s;
//    box-shadow: 0 0 10px rgba(0, 0, 0, .28);
//    background: #fff;
//    box-shadow: 0 0 10px rgba(0, 0, 0, .28);
//  }
//
//  &#left-menu {
//    .left-menu-overflow {
//      height: 100%;
//      overflow: auto;
//    }
//  }
//
//  &#left-menu.active {
//    width: 15.5rem;
//  }
//
//  #left-menu.active + .content {
//    padding-left: 15.5rem;
//  }
//
//  #left-menu a {
//    display: block;
//    line-height: 2.5rem;
//    font-size: 0.75rem !important;
//    width: 100%;
//    padding: 0 0.75rem 0 1rem;
//    cursor: pointer;
//    font-weight: bolder;
//    color: #444;
//  }
//
//  #left-menu a:hover {
//    text-decoration: none;
//    background-color: #eee;
//    color: #444;
//  }
//
//  #left-menu.active .collapsing, #left-menu.active .collapse.show {
//    position: relative;
//    margin-top: 0;
//    box-shadow: none;
//    left: 0;
//    width: auto;
//    transition: all 0.3s;
//  }
//
//  #left-menu .collapsing, #left-menu .collapse.show {
//    position: absolute;
//    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
//    left: 3rem;
//    width: 15.5rem;
//    box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 10px;
//    margin-top: -40px;
//    transition: all 0s;
//  }
//
//  #left-menu .link-body > a {
//    padding-left: 2rem;
//  }
//
//  #left-menu.active .link-header > a > span,
//  #left-menu.active .fa-chevron-up {
//    display: inline-block;
//  }
//
//  #left-menu .link-header > a > span,
//  #left-menu .fa-chevron-up {
//    display: none;
//  }
//
//  #left-menu .fa-chevron-up {
//    float: right;
//    margin-right: 0px;
//    line-height: 2.5rem;
//    color: #8a8a8a !important;
//    font-size: 0.6rem;
//  }
//
//  #left-menu .fas {
//    color: #303f9f;
//    width: 1.5rem;
//  }
//
//  #left-menu .collapsed .fa-chevron-up {
//    transform: rotate(180deg);
//  }
//
//  .fa-rotate-45 {
//    -webkit-transform: rotate(45deg);
//    -moz-transform: rotate(45deg);
//    -ms-transform: rotate(45deg);
//    -o-transform: rotate(45deg);
//    transform: rotate(45deg);
//  }
//
//
//  #left-menu #accordion .removeContent a:after {
//    content: "" !important;
//
//  }
//
//  @media screen and (max-width: 767px) {
//    .content {
//      padding-left: 0;
//    }
//    #left-menu {
//      width: 80%;
//    }
//    #left-menu.active {
//      left: -80%;
//      box-shadow: none;
//    }
//    #left-menu.active + .content {
//      padding-left: 0;
//    }
//    #left-menu .link-header > a > span, #left-menu .fa-chevron-up {
//      display: inline-block;
//    }
//    #left-menu .collapsing, #left-menu .collapse.show {
//      position: relative;
//      margin-top: 0;
//      box-shadow: none;
//      left: 0;
//      width: auto;
//      transition: all 0.3s;
//    }
//    #close-left-menu.active {
//      position: fixed;
//      left: 0;
//      top: 0;
//      width: 100%;
//      height: 100%;
//      background: rgba(0, 0, 0, 0.3);
//      z-index: 1;
//      display: block;
//    }
//
//    .right-menu {
//      position: fixed;
//      bottom: 0;
//      left: 0;
//      height: 40px;
//      display: flex;
//      background: linear-gradient(45deg, #303f9f 0%, #7b1fa2 100%);
//      font-size: 0;
//      width: 100%;
//      text-align: center;
//      padding: 0.5rem 1rem;
//    }
//    .right-menu span {
//      flex-grow: 1;
//    }
//    .right-menu .dropdown-menu {
//      flex-grow: 1;
//      top: auto;
//      bottom: 35px;
//    }
//    #close-left-menu.active {
//      position: fixed;
//      left: 0;
//      top: 0;
//      width: 100%;
//      height: 100%;
//      background: rgba(0, 0, 0, 0.3);
//      z-index: 1;
//      display: block;
//    }
//  }
//}

//
//
.module-admin-left-menu {
  #left-menu {
    position: fixed;
    z-index: 999;
    width: 3rem;
    top: 3rem;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .28);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .28);
  }

  #left-menu .left-menu-overflow {
    height: 100%;
    overflow: auto;
  }

  #left-menu.active {
    width: 15.5rem;
  }

  #left-menu.active + .content {
    padding-left: 15.5rem;
  }

  #left-menu a {
    display: block;
    line-height: 2.5rem;
    font-size: 0.75rem !important;
    width: 100%;
    padding: 0 0.75rem 0 1rem;
    cursor: pointer;
    font-weight: bolder;
    color: #444;
  }

  #left-menu a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #444;
  }

  #left-menu.active .collapsing, #left-menu.active .collapse.show {
    position: relative;
    margin-top: 0;
    box-shadow: none;
    left: 0;
    width: auto;
    transition: all 0.3s;
  }

  #left-menu .collapsing, #left-menu .collapse.show {
    position: absolute;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    left: 3rem;
    width: 15.5rem;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 10px;
    margin-top: -40px;
    transition: all 0s;
  }

  #left-menu .link-body > a {
    padding-left: 2rem;
  }

  #left-menu.active .link-header > a > span,
  #left-menu.active .fa-chevron-up {
    display: inline-block;
  }

  #left-menu .link-header > a > span,
  #left-menu .fa-chevron-up {
    display: none;
  }

  #left-menu .fa-chevron-up {
    float: right;
    width: auto !important;
    margin-right: 0px;
    line-height: 2.5rem;
    color: #8a8a8a !important;
    font-size: 0.6rem;
  }

  #left-menu .fas {
    color: #303f9f;
    width: 1.5rem;
  }

  #left-menu .collapsed .fa-chevron-up {
    transform: rotate(180deg);
  }

  #left-menu #accordion .removeContent a:after {
        content: "" !important;

      }

  @media screen and (max-width:767px){
    .content {
      padding-left: 0;
    }
    #left-menu {
      width: 80%;
    }
    #left-menu.active {
      left: -80%;
      box-shadow: none;
    }
    #left-menu.active + .content{
      padding-left: 0;
    }
    #left-menu .link-header > a > span, #left-menu .fa-chevron-up {
      display: inline-block;
    }
    #left-menu .collapsing,#left-menu .collapse.show{
      position: relative;
      margin-top: 0;
      box-shadow: none;
      left: 0;
      width: auto;
      transition: all 0.3s;
    }
    #close-left-menu.active{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
      z-index: 1;
      display: block;
    }

  }
}
