#income {
    .btn-module {
        width: 25px;
        height: 25px;
        line-height: 15px;
    }
    .btn.question {
        border-radius: 50%;
        margin: auto;
        font-weight: bold;
        font-size: 16px;
    }
    form label {
        font-weight: bold !important;
    }
    h3 {
        display: inline-block;
    }
}

.income-modal {
    .modal-header h5.modal-title {
        flex: auto;
        font-size: 1.3rem;
    }
    .modal-body p {
        font-size: 21px;
        font-weight: 200;
    }
}
