#vip-binar {
    position: relative;
    .refresh {
        display: inline-block;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        i {
            font-size: 25px;
            color: #2e78a1;
            &.rotate {
                animation: infinite-auto-rotating 1s linear infinite;
            }
        }
    }
}

@keyframes infinite-auto-rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
