.module-admin-logs {
  .card-wrap{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0.1),0 1px 5px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0;
    margin: 0 auto 1rem auto;
  }

  .card-wrap .card-body{
    font-size: 0.75rem;
    padding: 1rem;
  }

  .table-wrap{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-wrap .table thead th {
    border-top: none;
    background-color: #eee;
  }
  .table-wrap .table thead th a {
    color: #444;
    text-decoration: none;
  }
  .table-wrap .table thead th a.active {
    color: #007bff;
    text-decoration: none;
  }

  .table-wrap .table td, .table th {
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
  }
  .table-wrap th .fa-arrow-up{
    font-size: 0.6rem;
  }
  .table-wrap th a.active .fa-arrow-up{
    transform: rotate(180deg);
  }
  .form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-append > .btn, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-prepend > .input-group-text {
    font-size: .75rem;
  }
  .btn-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0.1),0 1px 5px 0 rgba(0,0,0,0.2);
  }

  input:checked + .slider {
    background-color: #28a745;
  }

  .toggledContainer {
    padding-left: 7rem !important;
    margin-right: 0;
  }
}
