.profile {
    position: relative;
    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        &.notnull {
            cursor: pointer;
        }
    }
    .avatar-wrap {
        text-align: center;
    }
    .payments {
        position: absolute;
        left: 0px;
        top: -5px;
    }
    .acc-id {
        position: absolute;
        right: 0px;
        top: -5px;
    }
    .user-id {
      position: absolute;
      right: 0px;
      top: 25px;
    }
    .base-acc {
      color: #3386B4;
    }
}
