
.switch {
  position: relative;
  display: inline-block;
  width: 1.9rem;
  height: 1.2rem;
  margin: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dc3545 !important;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.1rem;
  bottom: 0.05rem;
  background-color: white !important;
  -webkit-transition: .2s;
  transition: .2s;
}
input:checked + .slider {
  background-color: #28a745 !important;
}
input:checked + .slider:before {
  -webkit-transform: translateX(0.6rem);
  -ms-transform: translateX(0.6rem);
  transform: translateX(0.6rem);
}
